body {
  visibility: hidden;
}

.waiterPopup {
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #f2fcff;
    opacity: 1;
    z-index: 350000000000;
    font-family: Verdana;
}

/* The table display allows us to easily vertically center the messageContainer. */
.waiterPopup .contentContainer {
  height: 100%;
  width: 100%;
  display: table;
}

.waiterPopup .contentContainer .messageContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Verdana !important;
}

.waiterPopup .contentContainer img {
  width: 200px;
  height: auto;
}

.waiterPopup .contentContainer .messageContainer .titleText {
  font-size: 3em;
  font-weight: bold;
}

.waiterPopup .contentContainer .messageContainer .subtitleText {
  font-size: 1.5em;
}
