body {
  visibility: hidden;
}

.waiterPopup {
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #f2fcff;
    opacity: 1;
    z-index: 350000000000;
    font-family: Verdana;
}
