.checkerButton {
  background-color: #568EC8;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  border-radius: 8px;
  cursor: pointer;
}

.okTabButton {
  opacity: 0.3;
}

.checkerPopup {
    position: fixed;
    display: block;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #f2fcff;
    opacity: 1;
    z-index: 350000000000;
    font-family: Verdana !important;
}

/* The table display allows us to easily vertically center the messageContainer. */
.checkerPopup .contentContainer {
  height: 100%;
  width: 100%;
  display: table;
}

.checkerPopup .contentContainer .messageContainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Verdana !important;
}

.checkerPopup .contentContainer img {
  width: 200px;
  height: auto;
}

.checkerPopup .contentContainer .messageContainer .titleText {
  font-size: 30px !important;
  font-weight: bold !important;
}

.checkerPopup .contentContainer .messageContainer .subtitleText {
  font-size: 18px !important;
}
